<div id="home" class="row-fluid">
    <div class="leftPanel">
        <!-- Search -->
        <div id="search">
            <angucomplete-alt id="predictionSearch"
                              placeholder="Search..."
                              pause="100"
                              selected-object="symbolSelected"
                              local-data="stocks"
                              search-fields="name,symbol"
                              title-field="name"
                              minlength="1"
                              input-class="search-query form-control"/>
        </div>
        <!-- Prediction Form -->
        <form class="form-horizontal prediction" name="predictionForm" novalidate ng-if="prediction.search !== ''">
            <!-- Entity Key -->
            <div class="form-group">
                <label class="col-sm-3 control-label">Key</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="prediction.entityKey" name="entity" id="entity"
                           placeholder="Entity Key" disabled>
                </div>
            </div>
            <!-- Entity Current Value -->
            <div class="form-group">
                <label class="col-sm-3 control-label">Current Value</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="prediction.entityCurrentVal" name="entityvalue"
                           id="entityvalue" placeholder="Entity Current Value">
                </div>
            </div>
            <!-- entity User Value-->
            <div class="form-group">
                <label class="col-sm-3 control-label">User Value</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="prediction.entityUserVal" name="entityuservalue"
                           id="entityuservalue" placeholder="Entity User Value">
                </div>
            </div>
            <!-- Hyperlink 1-->
            <div class="form-group">
                <label class="col-sm-3 control-label">Hyperlink 1</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="prediction.hyperlink1" name="hyperlink1"
                           id="hyperlink1" placeholder="Hyperlink 1">
                </div>
            </div>
            <!-- Hyperlink 2-->
            <div class="form-group">
                <label class="col-sm-3 control-label">Hyperlink 2</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="prediction.hyperlink2" name="hyperlink2"
                           id="hyperlink2" placeholder="Hyperlink 2">
                </div>
            </div>
            <!-- Username-->
            <div class="form-group">
                <label class="col-sm-3 control-label">Username</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="prediction.userName" name="username" id="username"
                           placeholder="Username">
                </div>
            </div>
            <!-- Comments-->
            <div class="form-group">
                <label class="col-sm-3 control-label">Comments</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="prediction.comments" name="comments"
                           id="usrcomments"
                           placeholder="Comments">
                </div>
            </div>
            <!-- Buttons -->
            <div class="ngdialog-buttons col-sm-11">
                <button type="button" class="btn btn-primary" ng-click="savePrediction('save')"
                        ng-disabled="predictionForm.$invalid">
                    Save
                </button>
                <button type="button" class="btn btn-default" ng-click="savePrediction('cancel')">Cancel</button>
            </div>
        </form>
        <!-- Bubble Chart -->
        <div id="bubbles" class="bubbleChart"></div>
    </div>
    <div class="rightPanel">
        <div id="details" ng-if="showDetails">
            <span style="font-weight: bold;">{{selectedNode.deviceKey}}</span>
            <!-- Web URLs -->
            <div id="weburl">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-tasks"></i>&nbsp; URLs
                    </div>
                    <div ng-repeat="url in webAccess">
                        <div class="rank">
                            <a ng-href="{{url.webUrl}}" target="_blank">Rank {{$index}}</a>
                        </div>
                        <div class="recommended">
                            <i class="fa fa-users"></i> Recommended: {{url.webUrlCount}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Comments -->
            <div id="comments">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-comments"></i>&nbsp; Comments
                    </div>
                    <div ng-repeat="comment in userComments">
                        <ul class="chat">
                            <li class="left clearfix">
                                <span class="chat-img pull-left" style="margin-left: 2px;">
                                    <i class="fa fa-user"></i>
                                </span>

                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{comment.userName}}</strong>
                                    </div>
                                    <p>{{comment.comments}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
