.leftPanel {
  display: inline-block;
  width: 40%;
}

.rightPanel {
  display: inline-block;
  width: 60%;
  float: right;
  padding-top: 10px;
}

.bubbleChart {
  min-width: 100px;
  max-width: 600px;
}

.bubble {
  margin: 10px;
}

.node:hover circle {
  fill: #333E48 !important;
}

.carouselContent {
  height: 100px;
  border: 1px solid;
  width: 25%;
  text-align: center;
  background-color: grey;
}
