.leftPanel {
  display: inline-block;
  width: 30%;
  height: 100%;
}

.rightPanel {
  display: inline-block;
  width: 70%;
  height: 100%;
  float: right;
}

.bubbleChart {
  min-width: 50px;
  max-width: 100px;
}

.bubble {
  margin: 10px;
}

.node:hover circle {
  fill: #333E48 !important;
}

.carouselContent {
  height: 100px;
  border: 1px solid;
  width: 25%;
  text-align: center;
  background-color: grey;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
  margin-left: 15px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel-body {
  overflow-y: scroll;
  height: 250px;
}

.panel {
  margin-bottom: 5px !important;
}

.carousel-height {
  height: 225px;
  margin-bottom: 2px;
}

.carouselContent {
  height: 225px;
}

.iframe-class {
  height: 100%;
  /*position: absolute;
  z-index: 101;
  overflow: auto;*/
  width: 100%;
}

.bgimage {
  text-align: right;
  color: white;
  background-size: cover;
  height: 100%;
  background-position: center center;
}

ul[rn-carousel] {
  width: 330px;
  height: 225px;
  margin: 0 auto;
}

.carousel-inner {
  display: inline-block;
  padding-left: 18%;
}
