<div id="home" class="row-fluid">
    <div class="leftPanel">
        <div id="bubbles" class="bubbleChart"></div>
    </div>
    <div class="rightPanel">
        <div id="details" ng-if="showDetails">
            <span style="font-weight: bold;">{{selectedNode.deviceKey}}</span>
            <!-- Carousel -->
            <div class="carousel-height">
                <div class="carousel-inner">
                    <ul rn-carousel rn-carousel-index="carouselIndex3" rn-carousel-transition="hexagon"
                        rn-carousel-buffered class="carousel3">
                        <li ng-repeat="item in carouselItems track by $index">
                            <div class="carousel-height" id="carousel_{{$index}}">
                                <div ng-include src='getCarouselView($index, item)'></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Comments -->
            <div id="comments">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-comments"></i>&nbsp; Comments
                    </div>
                    <div ng-repeat="comment in userComments">
                        <ul class="chat">
                            <li class="left clearfix">
                                <span class="chat-img pull-left" style="margin-left: 2px;">
                            <i class="fa fa-user"></i>
                        </span>

                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{comment.userName}}</strong>
                                    </div>
                                    <p>{{comment.comments}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
