/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 2px 0 1% 0.5%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.5%;
}

.span_1_of_3 {
  width: 33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }

  .span_3_of_3, .span_2_of_3, .span_1_of_3 {
    width: 100%;
  }
}

#home {
  .marginRight {
    margin-right: 3px;
  }
  .panel {
    margin-bottom: 0px;
  }

  .panel-body {
    padding: 5px;
    overflow-y: scroll;
  }
}

.tile-bgcolor {
  background-color: rgb(149, 165, 166);
}

.showMoreNews {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

/*
 * Comments
 */
#comments {
  margin-top: 2px;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
  margin-left: 15px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}